[submodule "Avaliação-B3"]
	path = Avaliação-B3
	url = https://github.com/JorgeTerence/labirinto
[submodule "Atividade B4-1/avançado"]
	path = Atividade B4-1/avançado
	url = https://github.com/JorgeTerence/low-level
